# PostgreSQL Connection String
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/whatsapp_crm?schema=public"

# JWT Configuration
JWT_SECRET="your-jwt-secret-change-in-production"
JWT_EXPIRES_IN="7d"

# Server Port
PORT=5000

# Meta WhatsApp Cloud API
META_APP_SECRET="saad8april"
VERIFY_TOKEN="my_crm_verify_123//000"
WHATSAPP_TOKEN="EAAUiGyELYRABSHrGIF3BeqsWUWkysj8ZAnkHEAb3iAQArVMt4AwPljHJy3Q1NxtOYuXhdc4ZCt7wlrb5vLSMQ7ShpT5MtftdNUGEyQ4dly5SzpJ2rYlTI26CdNlZCCZBtPQC2ZAhldmO2cMDsPTqS7JAJZAmhS0TyJ2f3ybnbZBHZBLy8fXlcZBlrizMg7yi1ZBjBCje9KVfZAB5Q8CEP1rBozRx1AgyDYvQQUREiZBu18eQCi5dFbjEcJ7oKfNZBZBXlTvw0pDHhY6QRk1ev1g3sOKfyyRWha"
WHATSAPP_PHONE_NUMBER_ID="1324293490758020"
