# PostgreSQL Connection String
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/whatsapp_crm?schema=public"

# JWT Configuration
JWT_SECRET="your-jwt-secret-change-in-production"
JWT_EXPIRES_IN="7d"

# Server Port
PORT=5000

# Meta WhatsApp Cloud API
META_APP_SECRET="saad8april"
VERIFY_TOKEN="my_crm_verify_123//000"
WHATSAPP_TOKEN="EAAXHuZAYpraUBSEY33aYB2olc3SmYw9YoRzwsrw17sDeiVNQohkq341UrssA4Q7M4li2eZBpWJ5Bq91yZA2SNklQOjEolHTiXimuqZBw1u8CTNSB75zOXN8G5WgcqoWPSoB8N3SKlmZAa2JKWzZCX1aUUevsoNZA3ZB1Cyjte0vm7Lse8stnQgAnNwU9buRx64QJdfiJEGwP2A25C9dl9UqvYmAQa79cfQrkZAlOHw53iXyfWLoZArghYzcZCS99zj0UrXnpRhV6b4OZC1o7Oo0c9F8wdcIx"
WHATSAPP_PHONE_NUMBER_ID="1304373422750526"
